<footer class="text-center">
  <hr>
  <div>
    <a href="https://kiwiirc.com/nextclient/#irc://irc.libera.chat:+6697/#doenieren" rel="nofollow noopener">
      Chat ↗
    </a>
    <a href="https://github.com/midzer/doenieren" rel="noopener">
      Quelltext ↗
    </a>
    <a href="https://creativecommons.org/licenses/by-nc/4.0/deed.de" rel="nofollow noopener">
      BY-NC ↗
    </a>
    <a href="/impressum/">
      Impressum
    </a>
    <a href="/datenschutz/">
      Datenschutz
    </a>
  </div>
  <p>Mit &lt;3 gebaut von <a href="https://rohner.io/" rel="noopener">Rohner Solutions ↗</a></p>
  {{ $citiesCount := len (.Site.GetPage "section" "cities").Sections }}
  {{ $locationsCount := len .Site.RegularPages }}
  <samp>{{ $locationsCount }} Lokalitäten in {{ $citiesCount }} Städten<br>Letztes Update am {{ now.Format "January 2, 2006" }}</samp>
</footer>
