body {
    margin: 1rem auto;
    max-width: 51em;
    font-family: sans-serif;
    padding: 0 0.5rem;
    color: $doe-black;
}

.cities-list {
    columns: 2;
    column-gap: 5px;
    list-style: none;
    padding-left: 0;

    @media (min-width: 576px) {
        columns: 3;
    }

    @media (min-width: 768px) {
        columns: 4;
    }

    @media (min-width: 992px) {
        columns: 5;
    }
}

ul > li {
    padding-left: 0;
    padding-bottom: 1rem;
}
