#map {
  width: 512px;
  height: 256px;
  max-width: 100%;
  border: 1px solid $doe-black;
  position: relative;

  &.is-overlay {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $doe-orange;
    background-image: linear-gradient(white 2px, transparent 2px),
    linear-gradient(90deg, white 2px, transparent 2px),
    linear-gradient(rgba(255,255,255,.3) 1px, transparent 1px),
    linear-gradient(90deg, rgba(255,255,255,.3) 1px, transparent 1px);
    background-size: 100px 100px, 100px 100px, 20px 20px, 20px 20px;
    background-position:-2px -2px, -2px -2px, -1px -1px, -1px -1px;
  }

  > a em,
  > button {
    background-color: $white;
    border-color: $white;
    color: $doe-black;
  }

  .olControlAttribution {
    // Fix placement
    bottom: 0.5em;
  }
}
