/* colors */
$doe-blue: #675ccb;
$doe-black: #222;
$doe-yellow: #fb0;

$white: #fff;
$gray-700: #495057; // from bootstrap

// Base
$base-font-size: 18;

// Overlay
$overlay-background: rgba(26, 42, 58, 0.94);
