<!doctype html>
<html>
  <head>
    <title>doenieren.in - Seite nicht gefunden</title>
    
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="theme-color" content="">
    
    <link rel="shortcut icon" href="/images/favicon.png">
    <link rel="apple-touch-icon" href="/images/touch-icon.png">
  </head>
  <body>
    <a href="/">
      <h1>Doenieren</h1>
      <h2>Ooops!</h2>
      <p>Hier scheint nichts zu sein. Vielleicht bist du irgendwo falsch abgebogen oder wir haben was kaputt gemacht.<br><br>Wie dem auch sei, klicke irgendwo hin und wir bringen dich wieder zur Startseite, um dieses Chaos zu bereinigen.</p>
    </a>
  </body>
</html>
