<!doctype html>
<html>
  <head>
    <title>doenieren.in - Seite nicht gefunden</title>
    
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    
    <link rel="icon" href="data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100'%3e%3ctext y='.9em' font-size='90'%3e🥙%3c/text%3e%3c/svg%3e">
  </head>
  <body>
    <a href="/">
      <h1>Doenieren</h1>
      <h2>Ooops!</h2>
      <p>Hier scheint nichts zu sein. Vielleicht bist du irgendwo falsch abgebogen oder wir haben was kaputt gemacht.<br><br>Wie dem auch sei, klicke irgendwo hin und wir bringen dich wieder zur Startseite, um dieses Chaos zu bereinigen.</p>
    </a>
  </body>
</html>
