<!doctype html>
<html>
  <head>
    <title>Seite nicht gefunden | Dönieren</title>
    
    <meta charset="utf-8">
    <meta name="description" content="Finde den Lieblingsdöner in deiner Stadt">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    
    <link rel="icon" href="data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100'%3e%3ctext y='.9em' font-size='90'%3e🥙%3c/text%3e%3c/svg%3e">
  </head>
  <body>
    <a href="/">
      <h1>Dönieren</h1>
      <p>Ooops, hier scheint nichts zu sein. Vielleicht bist du irgendwo falsch abgebogen oder wir haben was kaputt gemacht.<br><br>Wie dem auch sei, klicke irgendwo hin und wir bringen dich wieder zur Startseite zurück, um diese Unordnung zu bereinigen.</p>
    </a>
  </body>
</html>
