{{ define "title" -}}
Döner essen bei {{ .Title }} | {{ .Site.Title }}
{{- end }}
{{ define "heading" -}}
Döner essen bei {{ .Title }}
{{- end }}
{{ define "main" }}
{{- $dir := replace .File.Dir "cities/" "" }}
{{- $city := replace $dir "/" "" -}}
{{ $location := index .Site.Data "cities" $city .File.BaseFileName }}
<div id="map" class="is-overlay">
  {{ partialCached "load-btn.html" . }}
  <a href="https://www.openstreetmap.org/node/{{ $location.id }}" rel="nofollow noopener">OpenStreetMap ↗</a>
  {{ partialCached "locate-btn.html" . }}
</div>
{{ partialCached "find-btn.html" . }}
<ul>
  {{ with $location.opening_hours }}<li>Öffnungszeiten: {{ . }}</li>{{ end }}
  {{ with $location.phone }}<li>Telefon: {{ . }}</li>{{ end }}
  <li>{{ $location.street }} {{ $location.housenumber }} in {{ $location.postcode }} {{ $location.city }}</li>
  {{ with $location.website }}<li><a href="{{ . }}" rel="nofollow noopener">{{ . }}</a></li>{{ end }}
  <li hidden><a href="{{ .RelPermalink }}" data-lat="{{ $location.latitude }}" data-lon="{{ $location.longitude }}">{{ .Title }}</a></li>
</ul>
{{ with .Content }}{{ . }}{{ else }}<p>Hier gibt es noch keinen Text über {{ .Title }}. Du kannst eine Beschreibung <a href="https://github.com/midzer/doenieren/edit/master/content/{{ .File.Dir }}{{ .File.BaseFileName }}.md" rel="nofollow noopener">hier ↗</a> eintragen :)</p>{{ end }}
<a href="/{{ $dir }}/">zurück zur Übersicht der Stadt</a>
{{ end }}
